table {
	box-shadow: 0px 5px 5px 5px #888888;
	margin-top: 30px;
	margin-left: auto; 
    margin-right: auto;
    margin-bottom: 30px;
}

table, th, td {
	border-collapse: collapse;
	border: 2px solid #FFFFFF;
	padding: 5px;
	font-size: 14px;
}

th {
	background: #003594;
	color: #FFFFFF;
}

tr:nth-child(even) {
	background: #D9D9D9;
}

tr:nth-child(odd) {
	background: #FFFFFF;
}

h1 {
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 20px;
	color: #003594;
	font-size: 40px;
	text-align: center;
}

p {
	display: inline;
}

div {
	text-align: center;
}

body {
	font-family: Arial,sans-serif;
	font-size: 14px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	background-color: #F2F2F2;

}

footer {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#navigation {
	margin-top: 0px;
}

#bottom {
	text-align: center;
}

#panel, #flip {
    padding: 5px;
    text-align: center;
}

#panel {
    padding: 50px;
    display: none;
}

#warningMessage {
	text-align: center;
	color: red;
}

.salesInput {
	text-align: right;
}

.rightJustify {
	text-align: right;
}

.centerInput {
	text-align: center;
}

#christmas {
	width: 100px;
	display: block;
	margin: auto;
}

.class1 {
	font-family: Arial;
	font-color: black;
	font-size: 20px;
	background-color: pink;
}

.class2 {
	font-family: Impact;
	font-size: 25px;
	font-color: white;
	background-color: orange;
}

.class3 {
	font-family: Verdana;
	font-color: white;
	font-size: 30px;
	background-color: red;
}

#login {
	width: 300px;
	position: absolute;
	left: 60%;
	top: 6px;
}

#open {
	margin: 0px;
	cursor: pointer;
	background-color: #FFFFFF;
	color: #003594;
	padding: 5px;
	box-shadow: 0px 5px 5px 5px #888888;
}

#login .close {
	background-color: #003594;
	color: #FFFFFF;
}

#open:hover {
	background-color: #003594;
	color: #FFFFFF;
}

#login form {
	margin-top: 10px;
	padding: 10px 10px 10px 10px;
	display: none; 
	background-color: #FFFFFF;
	position: absolute;
	z-index: 1;
	box-shadow: 0px 5px 5px 5px #888888;
}

#login label {
	display: inline-block;
	width: 100px;
	text-align: right;
	margin: 0 15px 0 0;
	color: #003594;
}

#login input {
	font-size: 14px;	 
}

.stopSign {
	display: inline-block;
	border: 3px solid #000000;
	border-radius: 75px;
	width: 150px;
	height: 150px;
	text-align: center;
	line-height: 150px;
}

#stop:hover {
	background-color: red;
}

#caution:hover {
	background-color: yellow;
}

#go:hover {
	background-color: green;
}

#nav ul, #nav li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#nav a {
	background-color: #FFFFFF;
	text-decoration: none;
	font: 16px 'ColaborateLightRegular', Arial, sans-serif;
	border-top: 1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	margin: 0px;
	padding: 0px;
	color: #003594;
}
#nav a:hover {
	border-top:1px solid #999;
	border-left:1px solid #999;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color: #003594;
	color: white;
}