table {
	box-shadow: 0px 5px 5px 5px #888888;
	margin-top: 30px;
	margin-left: auto; 
    margin-right: auto;
    margin-bottom: 30px;
}

table, th, td {
	border-collapse: collapse;
	border: 2px solid #FFFFFF;
	padding: 5px;
	font-size: 14px;
}

th {
	background: #003594;
	color: #FFFFFF;
}

tr:nth-child(even) {
	background: #D9D9D9;
}

tr:nth-child(odd) {
	background: #FFFFFF;
}

h1 {
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 20px;
	color: #003594;
	font-size: 40px;
	text-align: center;
}

p {
	display: inline;
}

div {
	text-align: center;
}

body {
	font-family: Arial,sans-serif;
	font-size: 14px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	background-color: #F2F2F2;

}

footer {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#navigation {
	margin-top: 0px;
}

#bottom {
	text-align: center;
}

#panel, #flip {
    padding: 5px;
    text-align: center;
}

#panel {
    padding: 50px;
    display: none;
}

#warningMessage {
	text-align: center;
	color: red;
}

.salesInput {
	text-align: right;
}

.rightJustify {
	text-align: right;
}

.centerInput {
	text-align: center;
}

#christmas {
	width: 100px;
	display: block;
	margin: auto;
}

.class1 {
	font-family: Arial;
	font-color: black;
	font-size: 20px;
	background-color: pink;
}

.class2 {
	font-family: Impact;
	font-size: 25px;
	font-color: white;
	background-color: orange;
}

.class3 {
	font-family: Verdana;
	font-color: white;
	font-size: 30px;
	background-color: red;
}